@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');

.nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #0000;
    padding: 0px 150px;
}
.nav-wrapper{
    display: flex;
    list-style: none;
  }
  .nav-wrapper a {
    display: block;
    padding: 5px 3px;
    margin: 0 6px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #ffffffb5;
    text-decoration: none;
}
.submit-tp {
    padding: 0 20px;
    border: 0px;
    background: #28a745;
    border-radius: 0px;
}
.warp2 { position: absolute;left: 231px; }
.input-sc {
    border: 0px;
    background: #2d333a;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 2px;
    outline: -webkit-focus-ring-color auto 0px;
    border-radius: 0px;
    margin-left: 10px;
    color: #ffffffb5;
    text-transform: lowercase;
    padding: 0 15px;
}
.tittle-st {
    color: #dcdcdc;
    font-size: 31px;
}
.nav-wrapper ul{
    height: 20px;
}
@media (max-width: 900px){
    .nav-wrapper{
        display: none;
    }
}